/* ==========
CSS for Clone Netflix page
dd/mm/yy: 03/05/2020
Made by: Khuat Duy Quang
*/

/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #000;
  color: #fff;
}
.container {
  padding: 0 5%;
}
img {
  display: block;
  width: 100%;
  max-width: 450px;
}
::placeholder {
  color: #8c8c8c;
  font-size: 0.875rem;
}
/*TYPO*/
h1 {
  font-size: 28px;
  z-index: 2;
}
h2 {
  font-size: 18px;
  margin: 1rem 0;
  font-weight: normal;
  z-index: 2;
}
h3 {
  font-size: 18px;
  font-weight: normal;
  max-width: 450px;
  padding: 0 5%;
  margin: 0 5%;
  text-align: center;
}
.title {
  font-size: 1.625rem;
  text-align: center;
}
.subtitle {
  font-size: 1.125rem;
}
.footer__title a {
  font-size: 1rem;
  margin-bottom: 1.875rem;
  color: #757575;
  text-decoration: none;
}
footer a:hover,
footer a:focus {
  text-decoration: underline;
}
.footer__country {
  font-size: 13px;
  margin: 1.5rem 0 0;
}
/*BUTTON*/
.btn {
  color: #fff;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  background-color: #e50914;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  outline: none;
}
.btn:hover,
.btn:focus {
  opacity: 0.9;
}
.btn-lg i {
  margin-left: 0.5rem;
}
.btn-lg {
  font-size: 1rem;
  padding: 0.35rem 1rem;
  min-height: 44px;
}
/* HEADER (showcase) */
.showcase {
  width: 100%;
  height: 79vh; /*NOTE*/
  background: url("./img/background.jpg") no-repeat center center/cover;
  border-bottom: 8px solid #222;
  position: relative;
  z-index: 0;
}
.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: inset 0px 100px 100px #000000;
}
.showcase img {
  width: 88px;
  z-index: 2;
}
.showcase__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.showcase__top a {
  font-size: 0.9rem;
  z-index: 2;
}
.showcase__content {
  height: -webkit-calc(79vh - 44px); /*NOTE*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
}
/* FORM EMAIL FORM CONTACT */
.email-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.form__section {
  text-align: center;
}
.input-text {
  width: 100%;
  max-width: 500px;
  padding: 0.625rem;
  height: 48px;
  margin: 1.25rem 0;
  font-size: 16px;
}
/* INTRO */
.intro__item {
  text-align: center;
  padding: 3.125rem 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 8px solid #222;
}

/* QUESTION */
.question {
  padding: 3.125rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 8px solid #222;
}
.question__list {
  margin: 1.25rem auto;
  list-style: none;
  font-size: 1.125rem;
  display: inline-block;
  text-align: center;
}
.question__list li {
  background: #303030;
  width: 100%;
  margin: 0 auto 0.5rem;
  max-width: 815px;
  display: inline-block;
}
.tabs__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem 5%;
  height: 55px;
  width: 100%;
  cursor: pointer;
}
.answer__show {
  display: block !important;
}
.answer__hide {
  text-align: left;
  border-top: 1px solid #000;
  padding: 1.35rem;
  /* hide by default */
  display: none;
}
.rotate {
  transform: rotate(45deg);
}

/* FOOTER */
footer {
  padding: 3.125rem 10%;
  color: #757575;
}
.footer__content {
  margin: 0 auto;
  width: 80%;
}
.footer__list {
  margin: 1.875rem 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.footer__item {
  margin: 0 0 1rem;
  padding-right: 0.75rem;
  width: 50%;
}
.footer__item a {
  font-size: 13px;
  color: #757575;
  text-decoration: none;
}
/* Select Languge */
.footer__languge {
  color: #757575;
  background: #000;
  cursor: pointer;
  padding: 0.75rem 2.625rem;
  font-size: 1rem;
  -webkit-appearance: none;
  /* border: none; */
  position: relative;
}
.footer__select {
  position: relative;
  display: inline-block;
  width: 155px;
  /* border: 1px solid #fff; */
}
.footer__select .fa {
  position: absolute;
  z-index: 1;
  top: 13px;
  pointer-events: none;
}
.footer__select .fa-globe {
  left: 13px;
}
.footer__select .fa-caret-down {
  right: 20px;
}

/* BIgger screen for Ipad */
@media (min-width: 550px) {
  /* Showcase Ipad */
  .showcase {
    height: 110vh;
  }
  .showcase img {
    width: 108px;
  }
  .showcase__top a {
    font-size: 1rem;
    padding: 0.4rem 1.1rem;
  }
  .showcase__content {
    height: -webkit-calc(110vh - 44px); /*NOTE*/
  }
  h1 {
    font-size: 3.125rem;
  }
  h2 {
    font-size: 1.625rem;
  }
  h3 {
    max-width: unset;
    margin: 0;
    padding: 0 10%;
  }
  /* Intro Ipad */
  .intro__item,
  .question,
  footer {
    padding: 4.375rem 2.8125rem;
  }
  .title {
    font-size: 2.5rem;
  }
  .subtitle,
  .question__list {
    font-size: 1.25rem;
  }
  /* Question Ipad */
  .question__list li {
    width: 90%;
  }
  /* Footer Ipad */
  .footer__item {
    width: -webkit-calc(100%/3);
  }
}
/* Bigger screen for Tablet */
@media (min-width: 740px) {
  h3 {
    font-size: 1.4375rem;
    margin: 0 auto;
  }
  h1 {
    margin: 0 auto;
    max-width: 640px;
  }
  h2 {
    margin: 1rem auto;
    max-width: 640px;
  }
  .input-text {
    height: 60px;
  }
  .footer__content {
    width: 90%;
  }
  .footer__item {
    width: -webkit-calc(100%/4);
  }
}
/* Bigger screen for Desktop */
@media (min-width: 949px) {
  .showcase img {
    width: 134px;
  }
  /* Form for Desktop */
  h3 {
    font-size: 1.2rem;
    order: 2;
    margin: 0;
    padding: 0;
  }
  .form__section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-lg {
    font-size: 1.375rem;
    padding: 0.35rem 1.5rem;
    height: 60px;
    border-radius: 0 3px 3px 0;
  }
  .input-text {
    min-width: 500px;
    height: 60px;
  }
  /* Intro for Desktop */
  .title {
    font-size: 3.125rem;
    text-align: left;
    max-width: 650px;
  }
  .subtitle {
    font-size: 1.625rem;
    text-align: left;
    max-width: 650px;
  }
  .intro__item {
    /* width: 80%; */
    /* margin: 0 auto; */
    /* padding: 4.375rem 10%; */
    flex-direction: row;
    justify-content: space-between;
  }
  .intro__item img {
    max-width: 400px;
    width: 80%;
  }
  .order {
    order: -1;
  }
  /* Question for Desktop */
  .question__list {
    margin: 3.25rem 0;
    font-size: 1.625rem;
  }
  .tabs__item {
    padding: 1.95rem;
    height: 75px;
  }
  .answer__hide {
    padding: 1.95rem;
  }
  /* footer for Desktop */
  footer {
    margin: 0 auto;
    width: 85%;
  }
}
